<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Posts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'users:list' %}">Пользователи</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-primary" aria-current="page" href="{% url 'posts:create' %}">
                            Создать пост
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if not request.user.is_authenticated %}
                <div class="d-flex" style="flex-basis: 16%; justify-content: space-between">
                    <a class="btn btn-primary" href="{% url 'users:login' %}">Логин</a>
                    <a class="btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
                </div>
            {% else %}
                <div class="hstack gap-3">
                    <a href="{% url "users:posts" pk=request.user.id %}">
                        {{ request.user.username }}
                    </a>
                    <form action="{% url 'users:logout' %}?next=/" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger btn-sm">Выйти</button>
                    </form>
                </div>

            {% endif %}


        </div>
    </div>
</nav>